.highlight {
  padding: 1px 10px;
  background-color: #EEF2F3;
  font-size: 0.9em;
}

.highlighter-rouge {
  margin-bottom: 1em;
}

.header-txt-shadow, .call-out p, .call-out a, .call-out li, .call-out h1, .call-out h2, .call-out h3, .call-out h4, .call-out h5, h1.title {
  text-shadow: 1px 1px 2px #A0A0A0;
}

table, dl, code, kbd, pre, samp {
  font-family: "Hack", monospace;
}

code.highlighter-rouge {
  background-color: #EEF2f3;
  padding: 0px 3px;
}

p, ol, ul, dl, .math-display {
  line-height: 1.65;
}

body {
  font-family: "Pontano Sans", monospace;
}

.posts .post-teaser {
  line-height: 1.65;
}

.figure.highlight {
  margin: 0 1em 1em 1em;
}

ul {
  margin-left: 5px;
}

ul>li {
  list-style-position: inside;
  text-indent: -1.25em;
  padding-left: 1.25em;
  text-indent: -29px;
}
